@import url(utilities.css);

img{
    width: 100%;
}

/* Navigation */
#main-nav{
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container{
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}

#main-nav .logo{
    width: 180px;
}

#main-nav ul{
    justify-self: end;
    display: flex;
}

#main-nav ul li a{
    padding: 0.75rem;
    font-weight: bold;
}

#main-nav ul li a.current{
    background: var(--primary-color);
    color:#fff;
}

#main-nav ul li a:hover{
    background: var(--dark-color);
    color: var(--light-color);
}

#main-nav .social{
    justify-self: center;
}

#main-nav .social i{
    color:#777;
    margin-right: 0.5rem;
}

/* Showcase */
#showcase{
    color: #fff;
    background:#333;
    padding: 2rem;
    position: relative;
}

#showcase:before{
    content:'';
    background:url(../img/main/featured.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#showcase .showcase-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#showcase .showcase-content{
    z-index: 1;
}

#showcase .showcase-content p{
    margin-bottom: 1rem;
}

/* Articles */

#home-articles .articles-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    grid-column: 1 / span 2;
}

#home-articles .articles-container > *:last-child{
    grid-column: 2 / span 2;
}

#article .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    padding: 0.5rem;
}

#article .meta .category{
    margin-top: 0.4rem;
}

/* Footer */
#main-footer{
    background: var(--dark-color);
    color: #fff;
}

#main-footer img{
    width: 150px;
}

#main-footer a{
    color: #fff;
}

#main-footer .footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child{
    background: #444;
    grid-column: 1 / span 4;
    padding: .5rem;
    text-align: center;
    font-size: 0.75rem;
}

#main-footer .footer-container input[type='email']{
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type='submit']{
    width: 90%;
}
